@use '../abstracts/mixins';

.footer{
  
  text-align: center;
  &__text{
    padding: 20px 0;
    position: relative;
    z-index: 1;
  }
  &__pattern{
    @include mixins.patternPosition(){
      left: 20px
    };
  }
}