html, body{
  font-family: var(--font-poppins);
  background-color: var(--white-1);
}

a{
  color: var(--white-1);
}

button{
  font-family: var(--font-poppins);
  background-color: var(--white-2);
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  color: var(--white-1);
}

span{
  font-size: var(--size-span);
}

.line{
  position: relative;
  border: 7px solid var(--white-2);
  
}

input, select{
  padding: 5px 10px;
  border-radius: 5px;
  font-family: var(--font-poppins);

}