@mixin flex($direction,$justify,$align){
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
@mixin container($width,$maxWidth){
  width: $width;
  max-width: $maxWidth;
  margin: 0 auto;
}

@mixin patternPosition(){
  position: absolute;
  fill: var(--white-2);
  bottom: -38px;
  
  scale: 1.4;
  @content;
}