@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Poppins:wght@400;700&display=swap');

:root{
  // fonts
  --font-poppins: 'Poppins', sans-serif;
  --font-orbitron: 'Orbitron', sans-serif;
  // colors
  --white-1: #F5F5F5;
  --white-2: #BFBFBF;
  --grey-2:#5B5B5B;
  --grey-1:#8B8B8B;
  --black:#2F2F2F;

  
}