@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Poppins:wght@400;700&display=swap');

$backgroundType: (
  bug: #8BD674,
  dark: #6F6E78,
  dragon: #7383B9,
  electric: #F2CB55,
  fairy: #EBA8C3,
  fighting: #EB4971,
  fire: #FFA756,
  flying: #83A2E3,
  ghost: #8571BE,
  grass: #8BBE8A,
  ground: #F78551,
  ice: #91D8DF,
  normal: #B5B9C4,
  poison: #9F6E97,
  psychic: #FF6568,
  rock: #D4C294,
  steel: #4C91B2,
  water: #58ABF6,
);
$colorType: (
  bug: #8CB230,
  dark: #58575F,
  dragon: #0F6AC0,
  electric: #EED535,
  fairy: #ED6EC7,
  fighting: #D04164,
  fire: #FD7D24,
  flying: #748FC9,
  ghost: #556AAE,
  grass: #62B957,
  ground: #DD7748,
  ice: #61CEC0,
  normal: #9DA0AA,
  poison: #A552CC,
  psychic: #EA5D60,
  rock: #BAAB82,
  steel: #417D9A,
  water: #4A90DA,
);


:root{
  // fonts
  --font-poppins: 'Poppins', sans-serif;
  --font-orbitron: 'Orbitron', sans-serif;
  --size-span:.8rem;
  // colors
  --white-1: #F5F5F5;
  --white-2: #BFBFBF;
  --grey-2:#5B5B5B;
  --grey-1:#8B8B8B;
  --black:#2F2F2F;

  
}

@each $type,$color in $backgroundType {
  .#{$type}{
    background-color: $color;
  }
}

@each $type,$color in $colorType {
  .type--#{$type}{
    background-color: $color;
  }
}


.wobbling-10 {
  height:60px;
  width:60px;
  position: relative;
}
.wobbling-10::before,
.wobbling-10::after {
  content: "";
  position: absolute;
  inset:0;
  border-radius: 50%;
  transform-origin: bottom;
}
.wobbling-10::after {
  background:
    radial-gradient(at 75% 15%,#fffb,#0000 35%),
    radial-gradient(at 80% 40%,#0000,#0008),
    radial-gradient(circle  5px,#fff 94%,#0000),
    radial-gradient(circle 10px,#000 94%,#0000),
    linear-gradient(#F93318 0 0) top   /100% calc(50% - 5px),
    linear-gradient(#fff    0 0) bottom/100% calc(50% - 5px)
    #000;
  background-repeat: no-repeat;
  animation: w10 1s infinite cubic-bezier(0.5,120,0.5,-120);
}

.wobbling-10::before {
  background:#ddd;
  filter: blur(8px);
  transform: scaleY(0.4) translate(-13px, 0px);
}

@keyframes w10 { 
 30%,70% {transform:rotate(0deg)}
 49.99%  {transform:rotate(0.2deg)}
 50%     {transform:rotate(-0.2deg)}
}